:root {
  --body-bg: #fafafa;
  --header-image: url(./bg-mobile-light-eXTHhUPU.jpg);
  --task-bg: #fff;
  --text-color: #494c6b;
  --text-color-completed: #9092a5;
  --placeholder-color: #9495a5;
  --tasks-shadow: hsla(0, 0%, 67%, 0.3);
}

/* Variables SASS */
